* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

// body:not([data-font*="Montserrat"]) {
//   // browsers default font will shown first
//   // Verdana is best option for montserrat custom font
//   // font-family: Verdana, sans-serif;
//   color: blue !important;
//   font-size: 14px;
// }

// body[data-font*="Montserrat"] {
//   font-family: "Montserrat", sans-serif;
//   font-size: 16px;
//   color: red !important;
// }

@import "./Header/header.scss";
@import "./ProductDetail/product-detail.scss";
@import "./ProductRecommendations/product-recommendations.scss";
@import "./ProductRecommendations/discover-more.scss";
