* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@import "./Header/header.scss";
@import "./ProductDetail/product-detail.scss";
@import "./ProductRecommendations/product-recommendations.scss";
@import "./ProductRecommendations/discover-more.scss";
